<html>
<head>
  <title>Tracking App</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
  <link href="/css/index.css" rel="stylesheet" type="text/css">
</head>
<body>
  <div> 
    <h1 id="head" style="text-align: center; font-family: 'Courier New', Courier, monospace;">
     Super Procure
    </h1>
    <br>
    <form  action="take-input" method="POST">
      <label for="fname" style="text-align: center; font-family: 'Courier New', Courier, monospace;">Enter your order_id Number</label><br>
      <input type="text" id="fname" name="order_id" value=""><br><br>
      <label for="lname" style="text-align: center; font-family: 'Courier New', Courier, monospace;">Enter your courier company</label><br>
      <input type="text" id="lname" name="courier_comp" value=""><br><br>
      <label for="lname" style="text-align: center; font-family: 'Courier New', Courier, monospace;">Enter your tracker_number ID</label><br>
      <input type="text" id="lname" name="tracker_num" value=""><br><br> 
      <label for="lname" style="text-align: center; font-family: 'Courier New', Courier, monospace;">Enter your shipment date</label><br>
      <input type="date" id="lname" name="date_of_shipment" value=""><br><br>
      <input type="submit" value="Submit Detail In DataBase">
    </form>
    
    <form action="/track-shipment" method="GET">
      <input type="submit" value="Track your Shipment">

    </form>

    
      <table>
        <thead>
          <tr>
            <th>Order_ID</th>
            <th>Courier Company</th>
            <th>Tracking Number</th>
            <th>Shipment Date</th>
            <th>Delete shipment</th>
            <!-- <th>Track Shipment</th> -->
          </tr>
        </thead>
        <tbody>
          <% for(let i of val){%>
            <tr>
              <td data-column="Order_ID" ><%= i.order_id%></td>
              <td data-column="Courier Company" ><%= i.courier_comp %></td>
              <td data-column="Tracking Number"><%= i.tracker_num%></td>
              <td data-column="Shipment Date"><%= i.date_of_shipment%></td>
              <td dats-column="delete">
                <div id="delete-buttom">
                  <a href="/delete/<%=i.id%>">
                      
                    <p style="text-align: center; font-family: 'Courier New', Courier, monospace;">Delete</p>
                      <!-- <i class="fas fa-minus-circle"></i> -->
                      <!-- <i class="fas fa-user-minus"></i> -->
                      
                  </a>
              </div>
              </td>
              
            </tr>
          <%}%>
          
          
        </tbody>
      </table>


  
  </div>
</body>
</html>